.First_liste ol li:first-child, .First_liste ol li:last-child{
        background-color: fuchsia;
        color: white;
}

.Second_liste ol li:first-child, .Second_liste ol li:last-child{
    background-color: black;
    color: white;
}

ol{
    counter-reset: primary;
}
ol ol{
    counter-reset: secondary;
}
ol ol ol{
    counter-reset: tertiary;
}
ol li{
    display: block;
    margin-left:5px;
}

ol.First_liste li:before{
    content: counters(primary, ".",upper-roman) ".";
    counter-increment: primary;
}

ol.First_liste li ol li:before{
    content: counters(primary, ".",upper-roman) "." counters(secondary, ".",decimal ) "  ";
    counter-increment: secondary;
}
ol.First_liste li ol li ol li:before{
    content: counters(primary, ".",upper-roman) "." counters(secondary, ".",decimal ) "-" counters(tertiary, "-",lower-alpha) "  ";
    counter-increment: tertiary;
}       